* {
  font-family: "Nunito Sans", sans-serif;
  padding: 0;
  margin: 0;
}
.dropdown-toggle {
  background-color: gba(58, 61, 66, 0.1) !important;
  font-family: "Nunito Sans", sans-serif !important;
}
.dropdown-toggle::after {
  display: none;
}
.navbar {
  padding: 0;
  width: 100%;
  height: 10vh;
}
.wrapper-navbar {
  margin: 0 auto;
  width: 1160px;
}
.navbar-logo {
  color: #6379f4;
  font-size: 29px;
  font-weight: 700;
}
.navbar-profile {
}
.navbar-porfile-name {
  color: #3a3d42;
  font-size: 18px;
  font-weight: 700;
}
.navbar-porfile-phone {
  color: #3a3d42;
  font-size: 13px;
}
.navbar-notification-logo:hover {
  cursor: pointer;
}
main {
  height: 90vh;
  /* padding-bottom: 40px; */
  background-color: #fafcff;
}
.wrapper-main-home {
  width: 1160px;
}
.side-bar {
  width: 280px;
  height: 578px;
  background-color: white;
  border-radius: 22px;
}
.side-bar-selected {
  color: #6379f4;
}
.side-bar-list {
  font-size: 18px;
  font-weight: 500;
}
.side-bar-list:hover {
  cursor: pointer;
}
.side-bar-logout {
  margin-top: 200px;
}
.dashboard-user-information {
  background-color: #6379f4;
  height: 160px;
  border-radius: 22px;
}
.user-balance {
  height: 33%;
  display: flex;
  align-items: center;
  color: white;
}
.user-balance-amount {
  font-size: 40px;
  font-weight: 700;
}
.user-balance-phone,
.user-balance-title {
  font-size: 14px;
}
.dashboard-user-option {
  width: 122px;
}
.btn-balance-option {
  margin-top: 10px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 10px;
  border: 1px solid #ffffff;
  font-size: 16px;
}
.dashboard-user-chart,
.dashboard-user-history {
  height: 402px;
  border-radius: 22px;
  background-color: white;
}
.chart-income,
.chart-expense {
  color: #6a6a6a;
  font-size: 14px;
}
.chart-expense-amount,
.chart-income-amount {
  font-size: 18px;
  color: #3a3d42;
  font-weight: 700;
}
.history-title {
  font-size: 18px;
  font-weight: 700;
  color: #3a3d42;
}
.see-all {
  color: #6379f4;
  font-size: 14px;
}
.see-all:hover {
  cursor: pointer;
}
.list-history-img {
  width: 56px;
  height: 56px;
}
.list-history-name {
  font-size: 16px;
  font-weight: 700;
  color: #4d4b57;
}
.list-history-status {
  font-size: 14px;
  font-weight: 400;
  color: #7a7886;
}
.list-history-amount {
  color: #1ec15f;
  font-weight: 700;
  font-size: 16px;
}
footer {
  background-color: #6379f4;
  color: #efefef;
}
.footer-wrapper {
  width: 1160px;
}
