* {
  font-family: "Nunito Sans", sans-serif;
  padding: 0;
  margin: 0;
}
body {
  /* max-width: 1160px; */
}
.navbar {
  padding: 0;
  width: 100%;
  height: 10vh;
}
.wrapper-navbar {
  margin: 0 auto;
  width: 1160px;
}
.navbar-logo {
  color: #6379f4;
  font-size: 29px;
  font-weight: 700;
}
.navbar-profile {
}
.navbar-photo-profile {
  width: 57px;
  height: 57px;
  border-radius: 10px;
}
.navbar-porfile-name {
  color: #3a3d42;
  font-size: 18px;
  font-weight: 700;
}
.navbar-porfile-phone {
  color: #3a3d42;
  font-size: 13px;
}
.navbar-notification-logo:hover {
  cursor: pointer;
}
main {
  min-height: 90vh;
  /* padding-bottom: 40px; */
  background-color: #fafcff;
}
.wrapper-main-home {
  width: 1160px;
}
.side-bar {
  width: 280px;
  height: 578px;
  background-color: white;
  border-radius: 22px;
}
span a {
  text-decoration: none;
  color: #3a3d42;
}
.side-bar-selected {
  color: #6379f4;
}
.side-bar-list {
  color: #3a3d42;
  font-size: 16px;
  font-weight: 700;
}
.side-bar-list:hover {
  cursor: pointer;
}
.side-bar-logout {
  margin-top: 200px;
}
.dashboard-user-information {
  background-color: #6379f4;
  height: 160px;
  border-radius: 22px;
}
.user-balance {
  height: 33%;
  display: flex;
  align-items: center;
  color: white;
}
.user-photo-navbar {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}
.user-balance-amount {
  font-size: 40px;
  font-weight: 700;
}
.user-balance-phone,
.user-balance-title {
  font-size: 14px;
}
.dashboard-user-option {
  width: 122px;
}
.btn-balance-option {
  margin-top: 10px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 10px;
  border: 1px solid #ffffff;
  font-size: 16px;
}
#h300 {
  height: 300px;
}
#w100 {
  width: 100%;
}
.dashboard-user-chart,
.dashboard-user-history {
  height: 402px;
  border-radius: 22px;
  background-color: white;
}
.chart-income,
.chart-expense {
  color: #6a6a6a;
  font-size: 14px;
}
.chart-expense-amount,
.chart-income-amount {
  font-size: 18px;
  color: #3a3d42;
  font-weight: 700;
}
.history-title {
  font-size: 18px;
  font-weight: 700;
  color: #3a3d42;
}
.see-all {
  text-decoration: none !important;
  color: #6379f4;
  font-size: 14px;
}
.see-all:hover {
  cursor: pointer;
}
.list-detail-history {
  border-radius: 10px;
}
.list-detail-history:hover {
  cursor: pointer;
  background-color: #6379f4;
}
.list-history-img {
  width: 56px;
  height: 56px;
  border-radius: 10px;
}
.dashboard-user-chart,
.dashboard-user-history {
  width: 50%;
}
.list-history-name {
  font-size: 16px;
  font-weight: 700;
  color: #4d4b57;
}
.list-detail-history:hover .list-history-name {
  color: white;
}
.list-detail-history:hover .list-history-status {
  color: white;
}
.list-history-status {
  font-size: 14px;
  font-weight: 400;
  color: #7a7886;
}
.list-history-amount {
  font-weight: 700;
  font-size: 16px;
}
#green {
  color: #1ec15f;
}
#red {
  color: #ff5b37;
}
footer {
  background-color: #6379f4;
  color: #efefef;
}
.footer-wrapper {
  max-width: 1160px;
}
@media (max-width: 992px) {
  .side-bar {
    height: unset;
    margin-top: 22px;
    padding-top: 22px;
    width: 100%;
  }
  .side-bar-logout {
    margin-top: 0;
  }
  .wrapper-side-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .side-bar-menu {
    padding-top: 0 !important;
    height: 100%;
    justify-content: center;
  }
  .wrapper-main-home {
    flex-direction: column;
  }
  .dashboard-content {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .dashboard-history {
    flex-direction: column;
  }
  .dashboard-user-chart,
  .dashboard-user-history {
    width: 80%;
    margin-left: unset !important;
    margin-right: unset !important;
    margin: 0 auto !important;
  }
}
